head
  title こっそり実況
  link(rel="icon" sizes="16x16 32x32" href='favicon-moon-o.ico')
body
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#')
          i.fa.fa-moon-o こっそり実況
  .container
    +yield
  button
