template(name='channel_info')
  if my
    .list-group  
      .list-group-item
        h1 おおかみこどもの雨と雪
      .list-group-item
        .media
          .media-left
            img.media-object(src=my.profile.image, alt='...')
          .media-body
            form
              input(placeholder="Enterで送信").form-control 
              input(type='checkbox') 
              span Twitterにも投稿
    .list-group
      .list-group-item
        h3 友達
          img(src='')
      each posts
        .list-group-item
          .media
            .media-left
              img.media-object(src=user.profile.image, alt='...')
            .media-body
              p {{body}}
  else
    .jumbotron
      h1 おおかみこどもの雨と雪
      button(onclick='Meteor.loginWithTwitter()').btn.btn-primary.btn-lg
        |実況をはじめる
      h3
        small 実況中のユーザ
      each users
        img.img-circle(src=profile.image)
      br
