template(name='channel_list')
  .row
    .col-md-4
      .list-group
        .list-group-item
          h1
            small タイトルを作成
        form
          .list-group-item
            input.form-control(type='text' placeholder="画像URL")
          .list-group-item
            input.form-control(type='text' placeholder="タイトル")
          .list-group-item
            button.btn.btn-primary.btn-block(type='submit') 作成
    each channels
      a(href='/channel/{{_id}}')
        .col-md-4
          .panel.panel-default
            img.img-rounded.img-responsive(src=image)
            h4 {{title}}
              br
              small
                |実況中のユーザ
            each visiters
              img.img-circle(src=profile.image style='height:30px;')
