template(name='channel_list')
  .row
    each channels
      .col-md-4
        .panel.panel-default
          img.img-rounded.img-responsive(src=image)
          h4 風の谷のナウシカ
            br
            small
              |実況中のユーザ
          img.img-circle(src='https://pbs.twimg.com/profile_images/611840201258766336/NbdwYqEm_reasonably_small.jpg' style='height:30px;')
          img.img-circle(src='https://pbs.twimg.com/profile_images/566465831173779458/qZeI9U9o_reasonably_small.jpeg' style='height:30px;')
          img.img-circle(src='https://pbs.twimg.com/profile_images/614820526574276608/ScIA533L_reasonably_small.jpg' style='height:30px;')
          img.img-circle(src='https://pbs.twimg.com/profile_images/615460888552669184/w8tUtXMO_bigger.jpg' style='height:30px;')
