template(name='channel')
  if my
    .list-group  
      .list-group-item
        h1 
          small {{channel.title}}
        h3
          small
            |実況中のユーザ
        each visiters
          img.img-circle.img-rounded(src=profile.image style='height:30px;')
      .list-group-item
        .media
          .media-left
            img.img-rounded.media-object(src=my.profile.image, alt='...')
          .media-body
            form
              input(placeholder="Enterで送信").form-control 
              input(type='checkbox') 
              span Twitterにも投稿
      each posts
        .list-group-item
          .media
            .media-left
              img.img-rounded.media-object(src=user.profile.image, alt='...')
            .media-body
              p {{body}}
  else
    .jumbotron
      h1 {{channel.title}}
      button(onclick='Meteor.loginWithTwitter()').btn.btn-primary.btn-lg
        |実況をはじめる
      h3
        small 実況中のユーザ
      each channel.visiters
        img.img-rounded.img-circle(src=profile.image)
      br
