template(name='info')
  .jumbotron.text-center
    h3 こっそり実況
    h1
      i.fa.fa-moon-o.fa-5x
    h3 
      br
      small 仲のいい友達と、こっそり実況しよう
  .list-group
    .list-group-item
      .row
        .col-md-6
        .col-md-6
          h3 TLを汚さずに実況できる！
          span これまでの実況はハッシュタグや連投など、迷惑だらけでした。こっそり実況なら、専用の場所で、人目を気にすることなく実況できます。
          
